<!-- /*=================================================
=            head__soc & head__address            =
=================================================*/ -->
<div class="header__container">
    <div class="head__soc">
        <ul class="head__soc_list">
            <li><a href="#facebook"><i class="flaticon-facebook-logo"></i></a></li>
            <li><a href="#twitter"><i class="flaticon-twitter-logo-silhouette" aria-hidden="true"></i></a></li>
            <li><a href="#pinterest"><i class="flaticon-pinterest-logo" aria-hidden="true"></i></a></li>
            <li><a href="#instagram"><i class="flaticon-instagram-logo" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="head__address">
        <address class="head__address_container">
            <div class="head__address_info">
                <i class="flaticon-mail head__address__icon" aria-hidden="true"></i>happykids@mail.com
            </div>
            <div class="head__address_info">
                <i class="flaticon-skype-logo head__address__icon" aria-hidden="true"></i>+35 567 567 567 56
            </div>
        </address>
    </div>
</div>
<!-- /*=====  End of head__soc & head__address  ======*/ -->
<!-- /*===============================================
=            logo, search, nav__menu            =
===============================================*/ -->
<div class="header__wrapper">
    <div class="logo__container">
        <img src="/static/img/assets/header/logo.svg" alt="logo" class="logo">
    </div>
    <div class="menu__container">
        <div class="menu__container__search">
            <form action="#" class="menu__container__search__button-wrapper">
                <input type="text" name="search-text" placeholder="Skills Search..." class="menu__container__search__button-wrapper__text">
                <button type="submit" class="menu__container__search__button-wrapper__button"><i class="flaticon-view-eye-interface-symbol" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="menu__container__activate-menu">
            <i class="flaticon-menu" aria-hidden="true"></i>
        </div>
        <div class="menu__container__navigation">
            <ul>
                <li><a href="#monitor-tabs">tabs</a></li>
                <li><a href="#3d-2d-responsive-slider">3d/2d responsive slider</a></li>
                <li><a href="#ajax-button">ajax button</a></li>
                <li><a href="#my-ability">my abilities</a></li>
                <li><a href="#my-number">my number</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /*=====  End of logo, search, nav__menu  ======*/ -->
