<div class="s5-wrapper">
    <!-- /*==============================
=            cart's            =
==============================*/ -->
    <div class="cart-description-wrapper-out relative wrap__pic">
        <div class="absolute-bg-img">
            <picture>
                <source media="(min-width: 961px)" srcset="/static/img/assets/section5/filler100prc.png 1920w">
                <source media="(min-width: 481px)" srcset="/static/img/assets/section5/filler50prc.png 960w, /static/img/assets/section5/filler100prc.png 1920w">
                <source media="(min-width: 480px)" srcset="/static/img/assets/section5/f1ller25prc.png 480w, /static/img/assets/section5/filler50prc.png 960w, /static/img/assets/section5/filler100prc.png 1920w">
                <img src="/static/img/assets/section5/filler100prc.png" alt="background" class="maintain">
            </picture>
        </div>
        <div class= relative">
            <div class="container-wrapper relative ">
                <div class="cart-description-wrapper">
                    <div class="cart-description-wrapper__elem relative">
                        <img src="/static/img/assets/section5/img01.png" alt="img-1">
                        <h2>Schools</h2>
                        <p>Aean auctoetnliir pis terios. ante ipsummis fauulet utrice posere cubtsed leo pharetu nec augue. dui bibendum ornare elementum. In vel mi pellentesque...</p>
                        <button class="s5-btn s5-btn1"><a href="ajax1.html">read more</a></button>
                    </div>
                    <div class="cart-description-wrapper__elem relative">
                        <img src="/static/img/assets/section5/img02.png" alt="img-2">
                        <h2>CLASSROOM</h2>
                        <p>Aean auctoetnliir pis terios. ante ipsummis fauulet utrice posere cubtsed leo pharetu nec augue. dui bibendum ornare elementum. In vel mi pellentesque...</p>
                        <button class="s5-btn s5-btn2"><a href="ajax2.html">read more</a></button>
                    </div>
                    <div class="cart-description-wrapper__elem relative">
                        <img src="/static/img/assets/section5/img03.png" alt="img-3">
                        <h2>Home</h2>
                        <p>Aean auctoetnliir pis terios. ante ipsummis fauulet utrice posere cubtsed leo pharetu nec augue. dui bibendum ornare elementum. In vel mi pellentesque...</p>
                        <button class="s5-btn s5-btn3"><a href="ajax3.html">read more</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /*=====  End of cart's  ======*/ -->
    <!-- /*============================================
=            sliders-of-responses            =
============================================*/ -->
    <div class="slider-of-responses-wrapper-out">
        <div class="slider-of-responses-wrapper wrap__pic relative container-wrapper">
            <h1>Orchard by Grade</h1>
            <div class="slider-of-responses__description">
                <div class="icon14"></div>
                <div class="recoll-list">
                    <p class="none item__first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam labore quod illo eius totam veniam dicta, et, quos magni, ea doloribus incidunt ipsam reiciendis temporibus est cumque odit dignissimos beatae doloremque iure fuga vero tenetur sunt repellendus veniam. Vitae rerum facilis, iure expedita voluptatem, molestias dolorem possimus provident distinctio numquam eius?</p>
                    <p class="none item__second">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum magni rerum laboriosam facere dolorem ab, tempore. Recusandae, eos aperiam adipisci.</p>
                    <p class="none item__third">What are you trying to tell me? That I can dodge bullets?</p>
                    <p class="none item__fourth">Leonard H. "Bones" McCoy is a character in the American science fiction franchise Star Trek.</p>
                </div>
                <div class="icon15"></div>
            </div>
            <div class="slider-of-responses">
                <div class="slider-of-responses__item">
                    <div class="slider-of-resopnses__item_into-wrapper">
                        <img src="/static/img/assets/section5/first.png" alt="first">
                        <div>
                            <h3>
                                Maria smith
                            </h3>
                            <p>
                                Julia's Mother
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider-of-responses__item">
                    <div class="slider-of-resopnses__item_into-wrapper">
                        <img src="/static/img/assets/section5/second.png" alt="second">
                        <div>
                            <h3>
                                Jordan THOMPSON
                            </h3>
                            <p>
                                Robert's Father
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider-of-responses__item">
                    <div class="slider-of-resopnses__item_into-wrapper">
                        <img src="/static/img/assets/section5/kianu.gif" alt="third">
                        <div>
                            <h3 class="heo">
                                Kianu Rivz
                            </h3>
                            <p>
                                The One
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider-of-responses__item">
                    <div class="slider-of-resopnses__item_into-wrapper">
                        <img src="/static/img/assets/section5/fourth.png" alt="fourth">
                        <div>
                            <h3>
                                Leonard McCoy
                            </h3>
                            <p>
                                Mia's Brother
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-of-responses_navigation">
                <div class="icon16"></div>
                <div class="icon17"></div>
            </div>
        </div>
    </div>
    <!-- /*=====  End of sliders-of-responses  ======*/ -->
    <picture class="wrap__pic relative">
        <source media="(min-width: 1920)" srcset="/static/img/assets/section5/1920.jpg 1920w">
        <source media="(min-width: 960px)" srcset="/static/img/assets/section5/960.jpg 960w,
                /static/img/assets/section5/1920.jpg 1920w">
        <source media="(max-width: 480px)" srcset="/static/img/assets/section5/face25prc.jpg 241w,
                /static/img/assets/section5/face50prc.jpg 483w,
                /static/img/assets/section5/face100prc.jpg 965w,
                /static/img/assets/section5/1920.jpg 1920w">
        <img src="/static/img/assets/section5/480.jpg" alt="background">
    </picture>
</div>
