<div class="s4-wrapper">
    <div class="login-out-wrapper">
        <div class="login-wrapper">
            <div class="login-wrapper__tabs-form">
                <ul class="login-wrapper__tabs-form__li-wrapper">
                    <li class="active"><a href="#tab-1">Sign Up</a></li>
                    <li><a href="#tab-2">List Of Quality My Service</a></li>
                    <li><a href="#tab-3">My Abilities</a></li>
                </ul>
                <div class="login-tabs-container">
                    <div class="login-tab-1 login-tabs_elem">
                    <form action="#">
                        <input type="text" id="name-guest1" placeholder="Name">
                        <input type="email" id="email-guest1" placeholder="jane.doe@example.com">
                        <button type="submit" class="login-submit">Guest autorisation</button>
                    </form>
                </div>
                <div class="login-tab-2 login-tabs_elem none">
                    <ul>
                        <li>Validate HTML  - example test to my site : <a href="#https://validator.w3.org/nu/?doc=http%3A%2F%2Fwilljust42.byethost7.com%2F" target="_blank">validator.w3.org</a></li>
                        <li>Optimisation speed load site -   <a href="https://developers.google.com/speed/pagespeed/insights/?hl=ru&url=http%3A%2F%2Fwilljust42.byethost7.com%2F" target="_blank">more</a></li>
                        <li>Retina optimisation for present-day mobile (Vectorisation raster icon), own img for every pixel ratio</li>
                        <li>Adaptability of site</li>
                        <li>CSS location components to new technologies : FlexBox</li>
                        <li>Support all actual browsers (IE 11+) -> <a href="https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support" target="_blank">Microsoft - Support for older versions of Internet Explorer ended on January 12th, 2016</a>.
                            If you'd like available support (IE 10). <br>
                            Statistic usage IE: <a href="http://www.w3schools.com/browsers/browsers_explorer.asp" target="_blank">w3school.com</a></li>
                        <li>Clear CSS without so many style cascade for shape by using bootstrap</li>
                        <li>Reservation connect style & script to CDN (if exist) and own server</li>
                    </ul>
                </div>
                <div class="login-tab-3 login-tabs_elem none">
                    <ul>
                        <li>HTML \ HTML 5</li>
                        <li>CSS \ CSS 3</li>
                        <li>SCSS</li>
                        <li>JavaScript -> ES3 , ES5, ES6(ES2015)</li>
                        <li>JQuery</li>
                        <li>Git</li>
                        <li>Gulp</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
