<!-- /*=============================
=            Icons            =
=============================*/ -->
<div class="s3-wrapper container-wrapper">
    <div class="s3-wrap-icon">
        <div>
            <div class="icon05"></div>
            <span>Learning Management System</span>
        </div>
        <div>
            <div class="icon06"></div>
            <span>ESOL</span>
        </div>
        <div>
            <div class="icon07"></div>
            <span>Math</span>
        </div>
        <div>
            <div class="icon08"></div>
            <span>ELA</span>
        </div>
        <div>
            <div class="icon09"></div>
            <span>Science</span>
        </div>
        <div>
            <div class="icon10"></div>
            <span>Create Your Own</span>
        </div>
        <div>
            <div class="icon11"></div>
            <span>Teacher Tools</span>
        </div>
    </div>
</div>
<!-- /*=====  End of Icons  ======*/ -->
<!-- /*==============================
=            slider            =
==============================*/ -->
<div class="relative s3-wrap-out">
    <div class="container__game-slider">
        <picture>
            <source media="(min-width: 961px)" srcset="/static/img/assets/section3/1920.jpg 1920w">
            <source media="(min-width: 481px)" srcset="/static/img/assets/section3/960.jpg 960w, /static/img/assets/section3/1920.jpg 1920w">
            <source media="(max-width: 480px)" srcset="/static/img/assets/section3/480.jpg 480w, /static/img/assets/section3/960.jpg 960w, /static/img/assets/section3/1920.jpg 1920w">
            <img src="/static/img/assets/section3/480.jpg" class="maintain">
        </picture>
        <h1>Resize to transform</h1>
        <div class="game-slider-out-wrapper">
            <div class="game-slider" id="carousel">
                <div><img src="/static/img/assets/section3/slider1.png" alt="Item #1" class="s3-img-wrapper game-slider__item cloud9-item"></div>
                <div><img src="/static/img/assets/section3/slider2.png" alt="Item #2" class="s3-img-wrapper game-slider__item cloud9-item"></div>
                <div><img src="/static/img/assets/section3/slider3.png" alt="Item #3" class="s3-img-wrapper game-slider__item cloud9-item"></div>
                <div><img src="/static/img/assets/section3/slider4.png" alt="Item #4" class="s3-img-wrapper game-slider__item cloud9-item"></div>
                <div><img src="/static/img/assets/section3/slider5.png" alt="Item #5" class="s3-img-wrapper game-slider__item cloud9-item"></div>
                <div><img src="/static/img/assets/section3/slider6.png" alt="Item #6" class="s3-img-wrapper game-slider__item cloud9-item"></div>
            </div>
        </div>
    </div>
</div>
<!-- /*=====  End of slider  ======*/ -->
