<!-- /*=========================================
=            picture with girl            =
=========================================*/ -->
<div class="wrap__pic relative">
    <picture>
        <source media="(min-width: 961px)" srcset="/static/img/assets/section1/1920.jpg 1920w">
        <source media="(min-width: 481px)" srcset="/static/img/assets/section1/960.jpg 960w, /static/img/assets/section1/1920.jpg 1920w">
        <source media="(max-width: 480px)" srcset="/static/img/assets/section1/face.jpg 480w, /static/img/assets/section1/960.jpg 960w, /static/img/assets/section1/1920.jpg 1920w">
        <img srcset="/static/img/assets/section1/480.jpg 480w" class="maintain">
    </picture>
    <div class="s1-container-wrapper-out">
        <div class="s1-container-wrapper container-wrapper">
            <div class="moreInfo">
                <h1>Not Just Practice</h1>
                <h3>Real curriculum with real results</h3>
                <div class="moreInfo__wrap-a">
                    <a href="#">View Our Services</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="s1-wrap__icon">
    <div class="sec-1__icons__contain container-wrapper">
        <div class="sec-1__icons__contain__icon">
            <div class="icon01"></div>
            <div class="sec-1__icons__contain__text">Math</div>
        </div>
        <div class="sec-1__icons__contain__icon">
            <div class="icon02"></div>
            <div class="sec-1__icons__contain__text">Language Arts</div>
        </div>
        <div class="sec-1__icons__contain__icon">
            <div class="icon03"></div>
            <div class="sec-1__icons__contain__text">Science</div>
        </div>
        <div class="sec-1__icons__contain__icon">
            <div class="icon04"></div>
            <div class="sec-1__icons__contain__text">Prescriptive Tests</div>
        </div>
    </div>
</div>
<!-- /*=====  End of picture with girl  ======*/ -->
