<div class="s2-out-wrapper">
    <div class="container-wrapper">
        <div class="wrap__section2">
            <div class="wrap__section2__tabs">
                    <ul class="s2-li-wrapper">
                        <li class="active"><a href="#tabs-01">Real Instruction with Real Results</a></li>
                        <li><a href="#tabs-02">Aladdin</a></li>
                        <li><a href="#tabs-03">Frozen</a></li>
                        <li><a href="#tabs-04">Zootopia</a></li>
                        <li><a href="#tabs-05">How to Train Your Dragon</a></li>
                        <li><a href="#tabs-06">Rapunzel</a></li>
                        <li><a href="#tabs-07">Tarzan</a></li>
                        <li><a href="#tabs-08">The Little Mermaid</a></li>
                        <li><a href="#tabs-09">The Lion King</a></li>
                        <li><a href="#tabs-10">Beauty and the Beast</a></li>
                    </ul>
                    <div class="tabs-container">
                        <div class="text-tabs-01">
                            <h2>Real Instruction with Real Results</h2>
                            <p>Orchard Education assesses and instructs students in over 5,000 skills and concepts in math, reading, writing, language arts, and science for grades Pre-K through 9, and beyond.</p>
                            <p>
                                Over 12,000 Activities and Lessons
                            </p>
                            <p>
                                Over 6,000 Hours of Instruction
                            </p>
                        </div>
                        <div class="none text-tabs-02">
                            <h2>Aladdin</h2>
                            <p>Aladdin was drawn with large eyes, like those of other Disney heroes, to indicate innocence. The lineaments of his body are more free-flowing and more rounded than is usual for Disney heroes. He looks like a modern 18-year-old, except for his wardrobe. In the movie, they often describe him as a street rat.</p>
                            <p>
                                Aladdin is portrayed as clever, and ultimately a good-hearted person.
                            </p>
                        </div>
                        <div class="none text-tabs-03">
                            <h2>Frozen</h2>
                            <p>The beginning of the movie shows icemen harvesting ice. A young boy named Kristoff and his pet reindeer, Sven, is among them ("Frozen Heart"). Elsa, Princess of Arendelle, possesses cryokinetic powers, with which she is able to produce or manipulate ice, frost and snow at will.</p>
                            <p>
                                One night while playing, she accidentally injures her younger sister, Anna. Their shocked parents, the king and queen, seek help from the troll king, who heals Anna and removes her memories of Elsa's magic.
                            </p>
                        </div>
                        <div class="none text-tabs-04">
                            <h2>Zootopia</h2>
                            <p>Despite graduating top of her class, Judy is excluded from handling top-priority missing predator cases and assigned to parking duty by Chief Bogo, who doubts her potential.</p>
                            <p>
                                During one attack, Hiccup believes he has shot down a Night Fury, an extremely rare and dangerous dragon.
                            </p>
                        </div>
                        <div class="none text-tabs-05">
                            <h2>How to Train Your Dragon</h2>
                            <p>The island of Berk is a remote Viking village, from which dragons periodically steal livestock. Hiccup, the awkward son of the village chieftain, Stoick the Vast, is too small to fight the dragons and instead fashions mechanical devices under his apprenticeship with Gobber the blacksmith, though his inventions often backfire.</p>
                            <p>
                                During a shift, she meets Nick Wilde and Finnick, partners in crime.
                            </p>
                        </div>
                        <div class="none text-tabs-06">
                            <h2>Rapunzel</h2>
                            <p>In order to remain young and beautiful, a vain old woman named Mother Gothel hoards the healing properties of a magical golden flower. When the pregnant Queen falls ill, the flower is harvested and fed to her as medicine, thus preventing Gothel's from using it. Once healthy, the Queen gives birth to Rapunzel, whose long golden hair has inherited the flower's powerful healing magic. Hoping to regain full control over the flower, Gothel kidnaps the princess and incarcerates her in an isolated tower simply for the purpose of exploiting her magic hair in order to remain youthful. Every year on Rapunzel's birthday, the kingdom of Corona releases thousands of floating lanterns into the sky in her memory.
                            </p>
                        </div>
                        <div class="none text-tabs-07">
                            <h2>Tarzan</h2>
                            <p>In the 1880s, an English couple and their infant son escape a burning ship, ending up on land near uncharted rainforests off the coast of Africa. </p>
                            <p>
                                The couple craft themselves a treehouse from their ship's wreckage, but are subsequently killed by Sabor, a rogue leopardess. Kala, a female mountain gorilla who recently lost her own child to Sabor, hears the cries of the orphaned human infant and finds him in the ruined treehouse.
                            </p>
                        </div>
                        <div class="none text-tabs-08">
                            <h2>The Little Mermaid</h2>
                            <p>Ariel, a sixteen-year-old mermaid princess, is dissatisfied with underwater life and is curious about the human world. With her best friend Flounder, Ariel collects human artifacts and goes to the surface of the ocean to visit Scuttle the seagull, who offers very inaccurate knowledge of human culture.</p>
                            <p>
                                She ignores the warnings of her father King Triton, the ruler of Atlantica, and his adviser and court composer Sebastian that contact between merpeople and humans is forbidden.
                            </p>
                        </div>
                        <div class="none text-tabs-09">
                            <h2>The Lion King</h2>
                            <p>In the Pride Lands of Africa, a lion rules over the animals as king. The birth of King Mufasa and Queen Sarabi's son Simba creates envy and resentment in Mufasa's younger brother, Scar, who knows his nephew now replaces him as heir to the throne.</p>
                            <p>
                                After Simba has grown into a young cub, Mufasa gives him a tour of the Pride Lands, teaching him the responsibilities of being a king and the Circle of Life.
                            </p>
                        </div>
                        <div class="none text-tabs-10">
                            <h2>Beauty and the Beast</h2>
                            <p>An enchantress, disguised as an old beggar, offers a rose to a young prince, in exchange for shelter in his castle from the cold, but the prince refuses. For his arrogance, the enchantress transforms him into a beast and places a spell on the castle. She gives him a magic mirror that enables him to view faraway events, along with the enchanted rose that she had offered.</p>
                            <p>
                                o break the spell, the prince must learn to love another and earn her love in return before the rose's last petal falls on his 21st birthday. If he fails, he will remain a beast forever.
                            </p>
                        </div>
                </div>
            </div>
            <div class="monitor wrap__pic">
                <picture class="monitor-img">
                    <source media="(min-width: 654px)" srcset="/static/img/assets/section2/monitor.png 654w">
                    <source media="(min-width: 327px)" srcset="/static/img/assets/section2/monitor-0.5.png 327w,
                                    /static/img/assets/section2/monitor.png 654w">
                    <source media="(max-width: 319px)" srcset="/static/img/assets/section2/monitor-0.25.png 163w,
                                    /static/img/assets/section2/monitor-0.5.png 327w,
                                    /static/img/assets/section2/monitor.png 654w">
                    <img srcset="/static/img/assets/section2/monitor-0.25.png 163w">
                </picture>
                <div class="monitor-display-img">
                    <div class="img-tab img-tabs-01">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab1-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab1-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab1-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab1-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab1-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab1-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab1-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-02">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab2-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab2-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab2-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab2-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab2-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab2-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab2-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-03">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab3-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab3-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab3-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab3-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab3-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab3-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab3-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-04">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab4-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab4-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab4-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab4-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab4-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab4-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab4-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-05">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab5-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab5-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab5-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab5-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab5-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab5-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab5-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-06">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab6-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab6-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab6-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab6-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab6-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab6-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab6-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-07">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab7-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab7-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab7-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab7-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab7-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab7-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab7-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-08">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab8-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab8-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab8-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab8-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab8-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab8-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab8-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-09">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab9-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab9-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab9-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab9-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab9-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab9-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab9-pict25prc.jpg 130w">
                        </picture>
                    </div>
                    <div class="img-tab none img-tabs-10">
                        <picture>
                            <source media="(min-width: 518px)" srcset="/static/img/assets/section2/tab10-pict100prc.jpg 518w">
                            <source media="(min-width: 259px)" srcset="/static/img/assets/section2/tab10-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab10-pict100prc.jpg 518w">
                            <source media="(max-width: 130px)" srcset="/static/img/assets/section2/tab10-pict25prc.jpg 130w,
                                /static/img/assets/section2/tab10-pict50prc.jpg 259w,
                                /static/img/assets/section2/tab10-pict100prc.jpg 518w">
                            <img srcset="/static/img/assets/section2/tab10-pict25prc.jpg 130w">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
